
#sign-up-container{
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
}
form{
    text-align: center;
    padding: 10px;
}

.input-field-container{
    background: transparent;
    position: relative;
    max-width: 500px;
    margin: 30px auto;
    border-bottom: 2px solid #CD587E;
    border-radius: 10px;
    box-shadow: 0 0 20px #e7e7e7;
}

.form-heading span{
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(to right, #CD587E, #762F76);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form-heading i{
    font-size: 40px;
    background: linear-gradient(#CD587E, #762F76);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.submit-button{
    color: white;
    background: linear-gradient(to right, #CD587E, #762F76);
    font-size: 20px;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}