


body{
    margin: 0;
}
header{
    text-align: center;
    background: linear-gradient(ivory,white);
}
header img{
    height: 20vh;
}

#home{
    background: url('img/slider-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#home-cover{
    background: rgba(0, 0, 0, 0.5);
    color: white;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home-container{
    text-align: center;
    width: 50%;
}
#home-container h1{
    font-size: 60px;
}
#home-container h3{
    font-size: 25px;
}


.flex-container{
    display: flex;
    align-items: center;
    padding: 100px 0;
}
.flex-left{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.flex-right{
    width: 50%;
    padding: 0 5%;
}
#our-motto{
    font-size: 40px;
}
#our-motto span{
    color: #ca0076;
}
#mottoImg{
    width: 100%;
}


#dishes{
    padding: 150px 0;
}
#dishes-header{
    text-align: center;
    margin-bottom: 50px;
}
#dishes-cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.item-container{
    width: 25%;
}
.item-card{
    width: 100%;
}
.item-card img{
    width: 100%;
}