
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    transition: background 500ms;
    z-index: 150;
}
header nav{
    display: flex;
    justify-content: center;
}
header .link{
    color: #ff577e;
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

#cart-length{
    position: absolute;
    top: -10%;
    left: 100%;
    min-width: 20px;
    text-align: center;
    font-size: 14px;
    color: blue;
    background: white;
    border-radius: 50%;
}


#side-cart{
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    max-width: 500px;
    height: 100%;
    background: white;
    transition: width 500ms linear;
    overflow-y: auto;
    box-shadow: 0 0 20px gray;
}
#side-cart.show{ width: 90%; }

#cart-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding: 0 20px;
}

.side-cart-button{
    width: 70%;
    margin: auto;
}
.side-cart-button button{
    width: 100%;
    color: white;
    background: linear-gradient(to right, #cc577e, #783076);
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    cursor: pointer;
}

#side-cart h1{
    flex-grow: 1;
    text-align: center;
    font-size: 25px;
}

.side-cart-item{
    display: flex;
    margin: 40px 20px;
}
.side-cart-item img{
    width: 150px;
}
.side-cart-item-info {
    display: flex;
    flex-direction: column;
}
.side-cart-item-info h3{
    font-size: 22px;
    margin: 10px;
}