/* get fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

.App{
    position: relative;
}

*{
    font-family: 'Source Sans Pro', sans-serif;
}
.loading{
    text-align: center;
    font-size: 60px;
    padding: 150px 0;
}


.input-field-container input, .input-field-container textarea{
    background: transparent;
    font-size: 20px;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 15px 10px 10px;
}
.input-field-container input::placeholder, .input-field-container textarea::placeholder{ color: transparent; }
.input-field-container label{
    background: white;
    color:  #CD587E;
    position: absolute;
    transition: 300ms;
    font-size: 15px;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 5px;
    z-index: 1;
    cursor: none;
    user-select: none;
}
.input-field-container input:not(:focus):placeholder-shown + label,
.input-field-container textarea:not(:focus):placeholder-shown + label
{
    font-size: 25px;
    color: #a5a5a5;
    top: 0;
    left: 0;
    transform: translateX(0);
    padding: 10px 15px;
    z-index: -1;
}
