
#profile-container{
    text-align: center;
}
.profile-img{
    color: gray;
    font-size: 14px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(214, 214, 214);
    margin: 0 auto;
    overflow: hidden;
}
#profile-container img{
    width: 100%;
}
#sign-out-but{
    background: crimson;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    margin: 20px 0;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}